:root{
  --red: #E50914;
  --black: #141414;
  --white: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Hina Mincho', serif;
}

body{
  background: var(--black);
  color: var(--white);
}

.box{
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}

.title{
  color: var(--red);
  margin-right: 3.5rem;
  font-size: 2.0rem;
}

.menu-item {
  color: #ffffff;
  font-size: 1.5em;
  margin-right: 5px;
}

.menu-item:hover{
  color: #cecbcb;
  font-weight: bold;
}


@media (max-width: 650px) {
  .box{
    display: flex;
    flex-direction: column;
  }
  .menu-item{
    font-size: 1em;
    padding: 4px;
  }

  .title{
    margin: 5px; 
  }

}

@media (max-width:1024px){
  .box{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

}